.banner {
  background-image: url(../images/showcase.jpg);
  height: 400px;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#name {
  font-weight: 600;
  font-size: 3rem;
  padding: 2rem;
}
#description {
  font-size: 1.2rem;
  line-height: 2rem;
}

.subscribe {
  background-color: #35424a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
input {
  width: 250px;
  padding: 0.5rem;
}
button {
  background-color: #e8491d;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.75rem;
}

.logo {
  display: flex;
  text-align: center;
  border-bottom: 2px solid #8e4e8b;
}
.box > * {
  padding: 1rem 0;
}
img {
  width: 6rem;
}
